body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a7a2a2;
    align-items: center;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.compiler {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.input-section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

textarea {
    height: 200px;
    resize: none;
}

button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2c3e50;
}

.output-section {
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

pre {
    background: #f8f8f8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}